# Ignoriranje datotek s končnico .log 
*.log  

# Ignoriranje datotek s končnico .aux 
*.aux

# Ignoriranje datotek s končnico .fdb_latexmk
*.fdb_latexmk

# Ignoriranje datotek s končnico .fls
*.fls

# Ignoriranje vseh datotek v mapi urnik.synctex.gz
urnik.synctex.gz/

#Ignoriranje datotek s končnico .synctex.gz
*.synctex.gz

#Ignoriranje datotek s končnico .bbl
*.bbl

#Ignoriranje datotek s končnico .bib
*.bib

#Ignoriranje datotek s končnico .synctex(busy)
*.synctex(busy)

#Ignoriranje datotek s končnico .toc
*.toc

#Ignoriranje datotek s končnico .nav
*.nav

#Ignoriranje datotek s končnico .out
*.out

#Ignoriranje datotek s končnico .snm
*.snm